@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
* {
    outline: none;
  }
  
  .backgroundHistory {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    z-index: -1; 
  }
  
  .historyBG {
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    height: 100%;
    padding-top: 6.2%;
    padding-left: 19%;
    padding-bottom: 2%;
    background-color: #ffffff6e;
  }

  /* TITLE */
  .HistoryTitle h1 {
    font-size: 2.7em;
    margin: 35px auto auto auto;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    color: #000000;
    z-index: 5;
  }

  /* FORM */
  .tb {
    display: table;
    width:2%;
    height: 22vh;
    margin: -11% auto auto -10%;
    align-items: center;
    padding:5px;
  }
  
  .td , .td-input{
    display: table-cell;
    vertical-align: middle;
  }
  
  .td-input,
  .td button {
    color: #000000;
    font-family: 'Kumbh Sans', sans-serif;
    border: 0;
    background-color: transparent;
  }

 
#cover {
  position: absolute;
  top: 29%;
  left: 60%;
  width: 35vw;
  height: 10vh;
  padding: 35px;
  margin: 0 auto 0 auto;
  background-color: #f8f8f8;
  border-radius: 20px;
  box-shadow: 0 10px 30px #ff969d, 0 0 0 20px #8A252C;
  transform: scale(0.4);
}

/* INPUT */

.td-input{
  padding: 5px;
  width: fit-content;
  height: fit-content;
}

#searchText{
  width: 35%;
  height: 15vh;
  font-size: 2.7em;
  line-height: 1;
  background-color: #00000000;
  border: none;
}

#searchText input[type="text"]::placeholder {
  color: #878787;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

.td{
  transform: translateX(10%);
}
.td button{
  position: relative;
  display: block;
  width: 10vw;
  height: 15vh;
  cursor: pointer;
}
/* .btnHistory button {
  position: relative;
  display: block;
  width: 5vw;
  height: 15vh;
  margin-top: -20%;
  cursor: pointer;
} */

#s-circle {
  position: relative;
  top: 3%;
  left: 35%;
  width: 27%;
  height: 33%;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #000000;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.btnHistory span {
  position: absolute;
  top: 80%;
  left: 65%;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.btnHistory span:before,
.btnHistory span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #000000;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: 15%;
  left:25%;
  width: 60%;
  height: 15%;
  border-width: 0;
  background-color: #000000;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 60%;
  left: 75%;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0)
}

#s-cover:hover .btnHistory span:before {
  bottom: 75%;
  transform: rotateZ(52deg);
}

#s-cover:hover .btnHistory span:after {
  bottom: -80%;
  transform: rotateZ(-52deg);
}
#s-cover:hover .btnHistory span:before,
#s-cover:hover .btnHistory span:after {
  right: -5%;
  width: 40px;
  background-color: #000000;
}


  /* BUTTON */
  
.appBtn {
  background-color: #F4C522; 
  border: none; 
  padding: 10px 10px;
  text-decoration: none;
  display:flex;
  margin: 2px 9px;
  left: 33%; 
  cursor: pointer; 
  border-radius: 5px; 
  max-height: 5vh;
  max-width: 15vw;
  width: 6.5vw;
  
}

.appBtn:hover {
  background-color: #ddb522;
}

.btn-icon {
  width: fit-content; 
  height: 4vh; 
  margin: -7px 5px auto 8px;
  align-items: center;
 }

 .btn-text {
  font-size: 1em; 
  color: rgb(0, 0, 0);
  font-weight: bold; 
  text-align: center; 
  margin-top:-3%;
}
/* CLEAR BUTTON */

.clear{
  width: fit-content;
  height: fit-content;
  padding: 2%;
  margin: 0 auto;
  transform: translate(280%, -115%);
}

.clear button{
  width: 10vw;
  height: 13vh;
  background-color: #8A252C;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.268);
  font-family: 'Kumbh Sans', sans-serif;
  border: none;
}
.clear p {
  color: #ffffff;
  text-align: center;
  width: 10vw;
  font-size: 2.5em;
  font-weight: bold;

}
/* Table Styles */

.table-wrapper{
  margin: 180px 70px 70px;
  box-shadow: 0px 20px 50px rgba( 0, 0, 0, 0.2 );
  font-family: 'Kumbh Sans', sans-serif;
  overflow-y: scroll;
  max-height: 50vh;
  max-width: 105vw;
}

.fl-table {
  border-radius: 5px;
  font-size: 1em;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f4f4f4;
  font-size: 1em;
}

.fl-table thead{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.fl-table thead th {
  color: #ffffff;
  background: #8A252C;
}
.fl-table thead th:first-child{
  border-top-left-radius: 2px;
} 

.fl-table thead th:last-child{
  border-top-right-radius: 2px;
}
.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #F4C522;
}

.fl-table tr:nth-child(even) {
  background: #efefef;
}
.fl-table tr:hover {
  background-color: #ffedab;
  color: #000000;
 -webkit-box-shadow: 0 2px 2px -2px #0E1119;
      -moz-box-shadow: 0 2px 2px -2px #0E1119;
           box-shadow: 0 2px 2px -2px #0E1119;
 }
 
.fl-table td:not(:last-child):hover  {
 background-color: #ffdf69;
 color: #000000;
 font-weight: bold;
 /* box-shadow: #F4C522 -3px 3px, #F4C522 -2px 2px, #927714 -3px 3px, #927714 -4px 4px, #826a12 -3px 3px, #7f6812 -3px 3px; */
 transform: translate3d(3px, -3px, 0);
 
 transition-delay: 0s;
     transition-duration: 0.4s;
     transition-property: all;
 transition-timing-function: line;
 }

/* Responsive */


@media (max-width: 1025px){
  .appBtn {
    left: 18%; 
    width: 8vw;
  }

  .btn-icon {
    height: 4vh; 
    margin: -9% 2% auto 1%;
   }
  
   .btn-text {
    font-size: 1em; 
    color: rgb(0, 0, 0);
    font-weight: bold; 
    text-align: center; 
    margin-top:-8%;
  }
  
.clear button{
  width: 11vw;
  height: 12vh;
  left: 135%;
  margin-top: -30%;
}
.clear p {
  width: 10vw;
  text-align: center;
  margin-left: 4%;
  font-size: 2.3em;
}

input[type="text"] {
  width: 110%;
  height: 7vh;
  font-size: 2.6em;
  line-height: 1;
}

#cover {
  top: 35%;
  left: 53%;
  transform: scale(0.47);
}

button {
  position: relative;
  display: block;
  width: 7vw;
  height: 15vh;
  margin-top: -20%;
  left: 15%;
  cursor: pointer;
}
}

@media (max-width: 769px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: .8em;
      color: rgb(0, 0, 0);
      padding: 0 0 10px;
  }
  .table-wrapper{
    margin-top: 25%;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table td{
    width: 28vw;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
  .fl-table tr:hover {
    background-color: #ffedab;
    color: #000000;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
        -moz-box-shadow: 0 2px 2px -2px #0E1119;
             box-shadow: 0 2px 2px -2px #0E1119;
   }

  #cover {
    margin-top: -5%;
    left: 48%;
    right: 40%;
    width: 45vw;
    height: 15vh;
    transform: scale(0.45)
  }

  .td input[type="text"] {
    width: 125%;
    height: 6vh;
    font-size: 2.5em;
    line-height: 1;
  }
  
  
.appBtn {
  margin: -3% auto auto 15%;
  max-height: 5.5vh;
  max-width: 15vw;
  width: 9vw;
}

.btn-icon {
  height: 4vh;
  width: 5vw;
  margin-left: -10%;
 }

 .btn-text {
  text-align: center;
  margin-top: -5%;
}

.td button {
  position: relative;
  display: block;
  width: 10vw;
  height: 15vh;
  margin-bottom: -55%;
  margin-top: -70%;
  margin-left: 16%;
  cursor: pointer;
}

.clear button{
  width: 13vw;
  height: 12vh;
  left: 135%;
  transform: translateY(30%);
}
.clear p {
  width: 10vw;
  text-align: center;
  margin-left: 12%;
  font-size: 2.3em;
}

}

@media (max-width: 428px){
  section h1 {
    font-size: 2.3em;
    margin: 25px auto auto auto;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    color: #000000;
  }
  
  .fl-table {
    display: block;
    width: 100%;
}
.table-wrapper:before{
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: .8em;
    color: rgb(0, 0, 0);
    padding: 0 0 10px;
}
.table-wrapper{
  margin-top: 35%;
  margin-left: 5%;
  width: 90%;
}
.fl-table thead, .fl-table tbody, .fl-table thead th {
    display: block;
}
.fl-table thead th:last-child{
    border-bottom: none;
}
.fl-table thead {
    float: left;
}
.fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
}
.fl-table td, .fl-table th {
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
}
.fl-table td{
  width: 28vw;
}

.td button {
  width: 15vw;
  height: 13vh;
  margin-left: 25%;
  cursor: pointer;
}


#cover {
  width: 70vw;
  height: 15vh;
  padding: 35px;
  margin: -25% -40% 0 auto;
  background-color: #f8f8f8;
  border-radius: 20px;
  box-shadow: 0 10px 30px #ff969d, 0 0 0 20px #8A252C;
  transform: scale(0.42);
}

button span {
  position: absolute;
  top: 60%;
  left: 35%;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

button span:before,
button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 15px;
  background-color: #000000;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1%;
  width: 61px;
  height: 15px;
  border-width: 0;
  background-color: #000000;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 52%;
  left: 56%;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

  .appBtn {
    max-height: 5.5vh;
    max-width: 15vw;
    width: 9vw; 
  }
  .btn-icon {
    display: none;
   }
   .btn-text {
    margin-top: -8%;
    margin-left: 16%;
  }
  .clear button{
    width: 23vw;
    max-width:20vw;
    height: 12vh;
    left: 135%;
    transform: translateY(30%);
  }
  .clear p {
    width: 10vw;
    text-align: center;
    margin-left: 4%;
    font-size: 2.3em;
  }
} 
