/* Default styles */
.employee-sidebar {
  position: fixed;
  top: 13vh;
  left: 0;
  height: 70vh;
  width: clamp(10rem, 20vw, 12rem);
  /* background-color: rgba(255, 255, 255, 0.80); */
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1000;
  overflow: scroll;
  box-shadow: 5px 5px 5px #00000041;
}

.employee-sidebar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

.employee-sidebar a{
  text-decoration: none;
  color: black;
}

.employee-sidebar-menu {
  list-style: none;
  padding: 0;
  background-color: white;
}

.employee-sidebar-menu ul{
  box-shadow: 5px 5px 5px #00000041;
  height: 100%;
}

.employee-sidebar-menu > li {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-left: clamp(1rem, 2vw, 1.7rem);
  padding-right: clamp(1rem, 2vw, 1.8rem);
  color: #000000;
  margin: 0;
  cursor: pointer;
  text-overflow: ellipsis;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.employee-sidebar-menu > li:hover:not(.active) {
  transition: .2s;
  background-color: #f4c722a2;
}

/* .active {
  background-color: #f4c722a2;
} */

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .employee-sidebar {
    width: 80%;
    height: 60vh;
    padding-bottom: 2rem; /* Add some padding at the bottom */
    /* background-color: rgba(255, 244, 223, 0.867); */
    overflow: scroll;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .employee-sidebar-menu > li {
    font-size: 1rem; /* Adjust the font size */
    padding: 2vh;
  }

  .employee-sidebar.mobile {
    padding: 0;
    margin: 0;
    overflow: scroll;
  }

  .employee-sidebar-menu {
    top: 0px;
    padding: 1rem 2rem; /* Add more padding */
    font-size: 1rem; /* Adjust the font size */
    background-color: white;
    margin: 0;
    overflow: scroll;
    height: 100%;
  }
}
