.input-container {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.data-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.data-input label {
  margin-right: 5px;
  padding: 3px;
}

/* Toggle CSS */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Checkbox CSS */

.checkbox-container input[type="checkbox"] {
  width: 14px; 
  height: 14px; 
  background-color: #fff; 
  border-radius: 3px; 
  margin-right: 5px;
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: #007bff; 
}

.checkbox-container label {
  display: inline-block;
  vertical-align: middle;
}

/* Save Button CSS */
.save-button {
  background-color: #007bff; 
  color: white; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.save-button:hover {
  background-color: #0056b3; 
}

/* Additional Styles for the Input Box Container */
.input-box-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.input-save-container {
  display: flex;
  align-items: center;
}

.input-save-container input {
  margin-right: 10px;
}
