.image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    overflow: hidden;
  }
  
  .bkg2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire container */
  }

